.LandingPage {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    min-width: 100rem;
    max-width: 100rem;
    padding: 0 2rem;
    /* position: relative; */
}

.landing-wrapper {
    background-image: url('assets/ten3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* .footer-container {
    display: flex;
    position: relative;
    height: 3rem;
    padding: 0 2rem;
    margin-top: 10rem;
    overflow: hidden;
    border-top: 1px solid #d2d2d2;
    /* z-index: 999; */
/* overscroll-behavior: contain; 
}

.bottom-text {
    display: flex;
    font-size: 1.1rem;
    color: #727272;
    margin-top: 0rem;
}  */

/* Heading style */
.LandingPage h2 {
    font-size: 3.5rem;
    /* font-family: Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
    margin-bottom: 50rem;
    margin-top: 5rem;
    color: #232323;
}

/* List style */
.LandingPage ul {
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 1); /* semi-transparent white */
    padding: 1rem;
    height: auto;
    border-radius: 10px;
    list-style: disc;
    color: #fff;
    margin: 0;
    padding: 0 0 0 20px;
    max-width: 60rem;
    margin-bottom: 5rem;
    column-count: 2; /* split the list into two columns */
    column-gap: 2rem;
}

/* List item style */
.LandingPage li {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1.5rem;
    margin: 1rem;
    /* max-width: 30rem; */
    margin-bottom: 2rem;
    display: inline-block;
}

.LandingPage button {
    display: block;
    border-radius: 20px;
    border: none;
    padding: 1rem 2rem;
    margin-top: auto;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    background-image: linear-gradient(to right, #e84393, #903b70);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.LandingPage button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.LandingPage button:focus,
button:focus-visible {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    /* .LandingPage ul {
      border: 1px solid #434343;
    } */

    .LandingPage button {
        background-image: linear-gradient(to right, #e84393, #903b70);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    }
    button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    }
}
