.CrashCourse {
    display: flex;
    justify-content: left;
    background-color: transparent;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 2rem;
    /* min-width: 100rem; */
    max-width: 80rem;
    padding: 0 2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.CrashCourse h2 {
    font-size: 2rem;
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-top: 2rem;
}

.CrashCourse h3 {
    font-weight: 500;
}

.CrashCourse ul {
    list-style-position: outside;
    padding-left: 4rem;
}

.CrashCourse li {
    margin-bottom: 0.5rem;
}

.footer-container {
    min-width: 100%;
}

.pad {
    margin-bottom: 4rem;
}
